<h1 [class.text-red]="condtionalBool">This works</h1>
<p>{{message}}</p>

<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)="receiveMessage($event)"></app-post>

<h2>{{postArray}}</h2>

<ul>
  <li *ngFor="let post of postArray">{{post}}</li>
</ul>

<button (click)="onClickAddPost()">Click to Add Post</button>
<div *ngIf="objArray.length > 1; else noData">
  <ul>
  <li *ngFor="let postobj of objArray; let i=index"> {{i}} {{postobj.name}} : {{postobj.content}}
    <button (click)="DeletePostObj(postobj)">Delete</button>
  </li>
</ul>
</div>

<!-- <div *ngIf="objArray.length == 0">
  NO DATA ...........
</div> -->

<ng-template #noData>
  NO DATA ...........
</ng-template>

<!-- <img src="{{imgUrl}}" alt=""> -->

<!-- Property Binding -->
<!-- <img [src]="imgUrl" alt=""> -->

<!-- Style Binding -->
 <h1 [style.color]="condtionalBool ? 'blue' : 'pink' ">Test</h1>

<!-- Event Binding -->
<!-- example click, enter  -->

<button (click)="onClick()">Click Me</button>

<!-- <input type="text" (keyup.enter)="onKeyUp(username.value)" #username> -->

<input type="text" [(ngModel)] = "userName" (keyup.enter)="onKeyUp()">


<div *ngIf="objArray.length > 1; then DataTest else noDataTest"></div>

<ng-template #DataTest>
  YES DATA
</ng-template>
  <ng-template #noDataTest>
      NO DATA
  </ng-template>

  <div *ngIf="users.length > 0">
    <ul>
      <li *ngFor="let user of users">{{user}}</li>
    </ul>
  </div>


  <div>
    <button (click)="onClickStep('step 1')">Step 1</button>
    <button (click)="onClickStep('step 2')">Step 2</button>
    <button (click)="onClickStep('step 3')">Step 3</button>
    
  </div>

  <div [ngSwitch]="step">
    <div *ngSwitchCase='"step 1"'>Step 1 Form</div>
    <div *ngSwitchCase='"step 2"'>Step 2 Form</div>
    <div *ngSwitchCase='"step 3"'>Step 3 Form</div>
    <div *ngSwitchDefault='"step 3"'>sad</div>
  </div>
  